/* web fonts */

/* Main CSS */

* {
  box-sizing: border-box;
}

body {
  background: #DFDFDF;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

h1, .footer-name {
  font-family: 'Gaegu', cursive;
}

h3, h2 {
  font-size: 1em;
}

.name, .footer-name {
  color: turquoise;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px 10px;
  margin: 10px 10px;
  text-transform: uppercase;
}

a:hover {
  color: green;
  text-decoration: underline;
}

/* class */

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.name {
  font-size: 2em;
  text-align: center;
}

.nav {
  font-size: 0.96em;
  text-align: center;
}

.nav li {
  display: list-item;
  background: lightgrey;
  margin: 5px;
  padding: 0.85em;
}

.profile-photo {
  width: 70%;
  margin: auto;
  padding-top: 2em;
}

.intro {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
}

.portfolio {
  background: white;
  padding-top: 1em;
}

.portfolio h2 {
  padding-bottom: 2em;
  font-size: 2em;
}

.portfolio h3 {
  padding: 1em;
}

.portfolio p {
  padding-bottom: 1em;
}

.contact {
  text-align: center;
  padding: 5em;
}

.contact h3 {
  padding-bottom: 1em;
}

.footer-nav {
  border-top: 2px solid grey;
  margin: 0 10%;
}

.footer-name {
  float: left;
}

.back-top {
  text-align: right;
}

.hidden-nav {
  display: none;
}

/*  clearfix  */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* Media Querries */

@media (min-width: 768px) {
  p {
    font-size: 1.2em;
  }
  .name {
    padding: 1em;
    font-size: 1.6em;
  }
  .nav li {
    display: inline-block;
    text-align: center;
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }
  .project {
    width: 50%;
    float: left;
    padding: 1em;
    margin: auto;
  }
  .portfolio {
    padding: 1em;
  }
  .back-top {
    display: none;
  }
  .hidden-nav {
    display: inline-block;
    float: right;
  }
}

.hidden-nav li {
  float: left;
  padding-top: 1em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 1024px) {
  p {
    font-size: 1.5em;
  }
  .intro {
    float: left;
    width: 50%;
  }
  .profile-photo {
    width: 40%;
    float: right;
  }
  .name {
    font-size: 1.5em;
    float: left;
  }
  .profile {
    padding: 1em
  }
  .nav {
    float: right;
    padding-top: 2em;
    margin-right: 0;
  }
  .project {
    width: 32%;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
}
